@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
/*Generals*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font: normal 1.6rem/2.5rem "Inter", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
}

/*Header*/
header {
  background-color: red;
}

/*Banner Section*/
.bannerContainer {
  width: 100%;
  background-image: url(./../assets/img/bannerBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerContainer .bannerOverlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#be5281a1), color-stop(55.73%, #3c168ea1), to(#002094a1));
  background-image: linear-gradient(180deg, #be5281a1 0%, #3c168ea1 55.73%, #002094a1 100%);
  width: 100%;
  height: 100%;
  padding: 40px;
}

.bannerContainer .bannerOverlay .bannerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bannerContainer .bannerOverlay .bannerContent .bannerImgContainer {
  text-align: center;
}

.bannerContainer .bannerOverlay .bannerContent .bannerDescription h1 {
  margin-bottom: 40px;
  font: bold 4rem/5.4rem "Inter", sans-serif;
  text-align: center;
}

.bannerContainer .bannerOverlay .bannerContent .bannerDescription h1 span {
  color: #fff974;
}

.bannerContainer .bannerOverlay .bannerContent .bannerDescription p {
  font: bold 1.7rem/2.7rem "Inter", sans-serif;
}

.bannerContainer .bannerOverlay .bannerContent .bannerDescription p span {
  color: #fff974;
}

@media screen and (min-width: 768px) {
  .bannerContainer .bannerOverlay {
    padding: 40px;
  }
  .bannerContainer .bannerOverlay .bannerContent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bannerContainer .bannerOverlay .bannerContent .bannerImgContainer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
  }
  .bannerContainer .bannerOverlay .bannerContent .bannerDescription {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .bannerContainer .bannerOverlay .bannerContent .bannerDescription h1 {
    text-align: start;
  }
}

@media screen and (min-width: 1024px) {
  .bannerContainer .bannerOverlay {
    padding: 50px 100px;
  }
}

/*Intro Section*/
.introContainer {
  background-color: #863b82;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
}

.introContainer .introImg {
  margin-bottom: 40px;
}

.introContainer .introDescription h2 {
  font: bold 3.5rem/4rem "Inter", sans-serif;
  margin-bottom: 20px;
  color: #fff974;
}

.introContainer .introDescription p span {
  font: bold 1.6rem/2.5rem "Inter", sans-serif;
}

@media screen and (min-width: 768px) {
  .introContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 20px;
  }
  .introContainer .introImg {
    width: 50%;
  }
  .introContainer .introDescription {
    width: 50%;
  }
}

/*Services Section*/
.servicesContainer {
  padding: 40px 20px;
  background-color: #fff974;
}

.servicesContainer .servicesContent h2 {
  color: #863b82;
  font: bold 4rem/5.4rem "Inter", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.servicesContainer .servicesContent .servicesDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.servicesContainer .servicesContent .servicesDescription .serviceContainer {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.servicesContainer .servicesContent .servicesDescription .serviceContainer h3 {
  color: #863b82;
  text-transform: uppercase;
  font: normal 2.4rem/3.2rem "Inter", sans-serif;
}

.servicesContainer .servicesContent .servicesDescription .serviceContainer p {
  font: normal 1.5rem/2.6rem "Inter", sans-serif;
  color: #000000;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .servicesContainer .servicesContent .servicesDescription .serviceContainer p {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .servicesContainer .servicesContent .servicesDescription {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .servicesContainer .servicesContent .servicesDescription .serviceContainer {
    width: 33%;
  }
}

/*Videogames Section*/
.videogamesContainer {
  background-color: #031455;
  padding: 40px 20px;
}

.videogamesContainer .videogamesContent h2 {
  font: bold 4rem/5.4rem "Inter", sans-serif;
  color: #fff974;
  text-align: center;
  margin-bottom: 40px;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer {
  overflow-x: scroll;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer::-webkit-scrollbar:horizontal {
  height: 10px;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer::-webkit-scrollbar-track:horizontal {
  background-color: #dadada;
  border-radius: 10px;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer::-webkit-scrollbar-thumb {
  background-color: #863b82;
  border-radius: 20px;
  border: 1px solid #000000;
  -webkit-box-shadow: 2px 2px 8px #ffffff inset;
          box-shadow: 2px 2px 8px #ffffff inset;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer .videogamesCarouselContent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer .videogamesCarouselContent .card {
  width: 280px;
  background-color: #ffffff;
  border-radius: 10%;
  padding: 40px 25px;
  margin: 0 10px 20px;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer .videogamesCarouselContent .card h3 {
  color: #031455;
  text-align: center;
  font: bold 2.4rem/3.2rem "Inter", sans-serif;
  margin-bottom: 20px;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer .videogamesCarouselContent .card p {
  font: normal 1.6rem/2.6rem "Inter", sans-serif;
  color: #031455;
  text-align: center;
}

/*Why Us Section*/
/*Contact Section*/
/*Footer*/
/*# sourceMappingURL=style.css.map */