@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
/*Generals*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font: normal 1.6rem/2.5rem "Inter", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  padding-top: 60px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

/*Header*/
.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}

.header .buttonMenuContainer label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 0 20px;
}

.header .buttonMenuContainer label .span {
  background-color: #000000;
  width: 25px;
  height: 3px;
  border-radius: 50px;
}

.header .buttonMenuContainer input {
  display: none;
}

.header .menu {
  position: absolute;
  top: 60px;
  right: -768px;
  height: 100vh;
  background-color: #ffffff;
  width: 50%;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}

.header .menu .menuContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 20px 0;
}

.header .menu .menuContainer .itemMenu {
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .menu .menuContainer .itemMenu:hover {
  -webkit-box-shadow: 384px 0 8px #863b82 inset;
          box-shadow: 384px 0 8px #863b82 inset;
}

.header .menu .menuContainer .itemMenu .linkMenu {
  color: #031455;
  font: bold 1.7rem/2.7rem "Inter", sans-serif;
}

.header .hidden {
  right: 0;
}

@media screen and (min-width: 768px) {
  .header .buttonMenuContainer label {
    display: none;
  }
  .header .menu {
    height: 60px;
    top: 0;
    width: 100%;
    right: 0;
  }
  .header .menu .menuContainer {
    width: 100%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .menu .menuContainer .itemMenu:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: #863b82 solid 2px;
  }
}

/*Banner Section*/
.bannerContainer {
  width: 100%;
  background-image: url(./../assets/img/bannerBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerContainer .bannerOverlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#be5281a1), color-stop(55.73%, #3c168ea1), to(#002094a1));
  background-image: linear-gradient(180deg, #be5281a1 0%, #3c168ea1 55.73%, #002094a1 100%);
  width: 100%;
  height: 100%;
  padding: 40px;
}

.bannerContainer .bannerOverlay .bannerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bannerContainer .bannerOverlay .bannerContent .bannerImgContainer {
  text-align: center;
}

.bannerContainer .bannerOverlay .bannerContent .bannerDescription h1 {
  margin-bottom: 40px;
  font: bold 4rem/5.4rem "Inter", sans-serif;
  text-align: center;
}

.bannerContainer .bannerOverlay .bannerContent .bannerDescription h1 span {
  color: #fff974;
}

.bannerContainer .bannerOverlay .bannerContent .bannerDescription p {
  font: bold 1.7rem/2.7rem "Inter", sans-serif;
}

.bannerContainer .bannerOverlay .bannerContent .bannerDescription p span {
  color: #fff974;
}

@media screen and (min-width: 768px) {
  .bannerContainer .bannerOverlay {
    padding: 40px;
  }
  .bannerContainer .bannerOverlay .bannerContent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bannerContainer .bannerOverlay .bannerContent .bannerImgContainer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
  }
  .bannerContainer .bannerOverlay .bannerContent .bannerDescription {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .bannerContainer .bannerOverlay .bannerContent .bannerDescription h1 {
    text-align: start;
  }
}

@media screen and (min-width: 1024px) {
  .bannerContainer .bannerOverlay {
    padding: 50px 100px;
  }
}

/*Intro Section*/
.introContainer {
  padding: 40px 20px;
  background-color: #863b82;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introContainer .introImg {
  margin-bottom: 40px;
}

.introContainer .introDescription h2 {
  font: bold 4rem/5.4rem "Inter", sans-serif;
  margin-bottom: 40px;
  text-align: center;
  color: #fff974;
}

.introContainer .introDescription p span {
  font: bold 1.6rem/2.5rem "Inter", sans-serif;
}

@media screen and (min-width: 768px) {
  .introContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 20px;
  }
  .introContainer .introImg {
    width: 50%;
  }
  .introContainer .introDescription {
    width: 50%;
  }
}

/*Services Section*/
.servicesContainer {
  padding: 40px 20px;
  background-color: #fff974;
}

.servicesContainer .servicesContent h2 {
  font: bold 4rem/5.4rem "Inter", sans-serif;
  margin-bottom: 40px;
  text-align: center;
  color: #863b82;
}

.servicesContainer .servicesContent .servicesDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.servicesContainer .servicesContent .servicesDescription .serviceContainer {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.servicesContainer .servicesContent .servicesDescription .serviceContainer h3 {
  color: #863b82;
  text-transform: uppercase;
  font: normal 2.4rem/3.2rem "Inter", sans-serif;
}

.servicesContainer .servicesContent .servicesDescription .serviceContainer p {
  font: normal 1.5rem/2.6rem "Inter", sans-serif;
  color: #000000;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .servicesContainer .servicesContent .servicesDescription .serviceContainer p {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .servicesContainer .servicesContent .servicesDescription {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .servicesContainer .servicesContent .servicesDescription .serviceContainer {
    width: 33%;
  }
}

/*Videogames Section*/
.videogamesContainer {
  background-color: #031455;
  padding: 40px 20px;
}

.videogamesContainer .videogamesContent h2 {
  font: bold 4rem/5.4rem "Inter", sans-serif;
  margin-bottom: 40px;
  text-align: center;
  color: #fff974;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer {
  overflow-x: scroll;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer::-webkit-scrollbar:horizontal {
  height: 10px;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer::-webkit-scrollbar-track:horizontal {
  background-color: #dadada;
  border-radius: 10px;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer::-webkit-scrollbar-thumb {
  background-color: #863b82;
  border-radius: 20px;
  border: 1px solid #000000;
  -webkit-box-shadow: 2px 2px 8px #ffffff inset;
          box-shadow: 2px 2px 8px #ffffff inset;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer .videogamesCarouselContent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 30px;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer .videogamesCarouselContent .card {
  width: 270px;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 40px 25px;
  margin: 0 10px 20px;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer .videogamesCarouselContent .card h3 {
  color: #031455;
  text-align: center;
  font: bold 2.4rem/3.2rem "Inter", sans-serif;
  margin-bottom: 20px;
}

.videogamesContainer .videogamesContent .videogamesCarouselContainer .videogamesCarouselContent .card p {
  font: normal 1.6rem/2.5rem "Inter", sans-serif;
  color: #031455;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .videogamesContainer .videogamesContent .videogamesCarouselContainer .videogamesCarouselContent .card {
    width: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .videogamesContainer .videogamesContent .videogamesCarouselContainer {
    overflow-x: hidden;
  }
  .videogamesContainer .videogamesContent .videogamesCarouselContainer .videogamesCarouselContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .videogamesContainer .videogamesContent .videogamesCarouselContainer .videogamesCarouselContent .card {
    height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*Why Us Section*/
.whyUsContainer {
  width: 100%;
  background-image: url(./../assets/img/bannerBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.whyUsContainer .whyUsContainerOverlay {
  padding: 40px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#001357a1), color-stop(53.65%, #3c168ea1), to(#be5280a1));
  background-image: linear-gradient(180deg, #001357a1 0%, #3c168ea1 53.65%, #be5280a1 100%);
}

.whyUsContainer .whyUsContainerOverlay .whyUsContent h2 {
  font: bold 4rem/5.4rem "Inter", sans-serif;
  margin-bottom: 40px;
  text-align: center;
}

.whyUsContainer .whyUsContainerOverlay .whyUsContent p {
  text-align: center;
  font: normal 2rem/3rem "Inter", sans-serif;
  margin-bottom: 40px;
}

.whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer {
  text-align: center;
}

.whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer .descriptionImg {
  margin-bottom: 20px;
}

.whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer .descriptionText h2 {
  font: bold 4rem/5.4rem "Inter", sans-serif;
  margin-bottom: 40px;
  text-align: center;
  color: #fff974;
}

.whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer .descriptionText img {
  margin-bottom: -60px;
}

.whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer .descriptionText p {
  font: normal 1.6rem/2.5rem "Inter", sans-serif;
}

@media screen and (min-width: 768px) {
  .whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer .descriptionText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer .descriptionText img {
    margin-bottom: -120px;
  }
  .whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer .descriptionText p {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer .descriptionImg {
    width: 40%;
  }
  .whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer .descriptionText {
    width: 60%;
  }
  .whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer .descriptionText img {
    margin-bottom: -140px;
  }
  .whyUsContainer .whyUsContainerOverlay .whyUsContent .whyUsDescription .whyUsDescriptionContainer .descriptionText p {
    width: 100%;
  }
}

/*Contact Section*/
.contactContainer {
  padding: 40px 20px;
  background-color: #dadada;
}

.contactContainer h2 {
  font: bold 4rem/5.4rem "Inter", sans-serif;
  margin-bottom: 40px;
  text-align: center;
  color: #000000;
}

.contactContainer .contactContent {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactContainer .contactContent .rrssContainer {
  background-color: #ffffff;
  padding: 20px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 8px #031455;
          box-shadow: 2px 2px 8px #031455;
  gap: 10px;
}

.contactContainer .contactContent .rrssContainer p {
  font: bold 1.3rem/1.9rem "Inter", sans-serif;
  color: #636363;
}

/*Footer*/
.footer {
  width: 100%;
  background-image: url(./../assets/img/bannerBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .overlayFooter {
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer .overlayFooter .footerBrandContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  text-align: center;
}

.footer .overlayFooter .footerBrandContainer .brand {
  margin-bottom: 40px;
}

.footer .overlayFooter .footerBrandContainer .footerMenu .footerMenuContainer .itemMenu {
  margin-bottom: 24px;
}

.footer .overlayFooter .footerBrandContainer .footerMenu .footerMenuContainer .itemMenu .linkMenu {
  color: #ffffff;
}

.footer .overlayFooter .footerBrandRrss {
  margin-bottom: 40px;
}

.footer .overlayFooter .footerBrandRrss .rrssFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.footer .overlayFooter .footerBrandRrss .rrssFooter img {
  width: 20%;
}

.footer .overlayFooter .footerBrandRrss .rrssFooter p {
  font: bold 1.6rem/2.5rem "Inter", sans-serif;
}

.footer .overlayFooter .licenceContainer p {
  text-align: center;
  font: normal 1.6rem/2.5rem "Inter", sans-serif;
}

@media screen and (min-width: 768px) {
  .footer .overlayFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .footer .overlayFooter .footerBrandContainer {
    width: 55%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer .overlayFooter .footerBrandContainer .brand {
    margin-bottom: 10px;
  }
  .footer .overlayFooter .footerBrandContainer .footerMenu {
    width: 100%;
  }
  .footer .overlayFooter .footerBrandContainer .footerMenu .footerMenuContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .overlayFooter .footerBrandRrss {
    width: 40%;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 0;
  }
  .footer .overlayFooter .footerBrandRrss .rrssFooter {
    gap: 5px;
    padding: 5px 0;
  }
  .footer .overlayFooter .licenceContainer {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */