/*Intro Section*/
.introContainer {
  @include paddingSection;
  background-color: $colorPrimary;
  display: flex;
  flex-direction: column;
  align-items: center;
  .introImg {
    margin-bottom: 40px;
  }
  .introDescription {
    h2 {
      @include titleSection;
      color: $colorSecondary;
    }
    p {
      span {
        font: $body2;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .introContainer {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;

    .introImg {
      width: 50%;
    }
    .introDescription {
      width: 50%;
    }
  }
}
