/*Services Section*/
.servicesContainer {
  @include paddingSection;
  background-color: $colorSecondary;
  .servicesContent {
    h2 {
      @include titleSection;
      color: $colorPrimary;
    }
    .servicesDescription {
      display: flex;
      flex-direction: column;
      .serviceContainer {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        h3 {
          color: $colorPrimary;
          text-transform: uppercase;
          font: $headLine3;
        }
        p {
          font: $headLine6;
          color: $black;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .servicesContainer {
    .servicesContent {
      .servicesDescription {
        .serviceContainer {
          p {
            width: 75%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .servicesContainer {
    .servicesContent {
      .servicesDescription {
        flex-direction: row;
        .serviceContainer {
          width: 33%;
        }
      }
    }
  }
}
