.videogamesContainer {
  background-color: $colorTertiary;
  padding: 40px 20px;
  .videogamesContent {
    h2 {
      font: $headLine1;
      color: $colorSecondary;
      text-align: center;
      margin-bottom: 40px;
    }
    .videogamesCarousel {
      overflow-x: scroll;
      display: flex;
      flex-wrap: nowrap;
      .videogameCard {
        background-color: $white;
        border-radius: 10%;
        padding: 40px 25px;
        margin: 0 10px;
        h3 {
          color: $colorTertiary;
          text-align: center;
          font: $headLine4;
          margin-bottom: 20px;
        }
        p {
          font: $headLine8;
          color: $colorTertiary;
          text-align: center;
        }
      }
    }
  }
}
